/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterick wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #4b4a4a;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4b4a4a;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu > li {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #4b4a4a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 39px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-yankrukov-8436587.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(55, 150, 151, .7);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 250px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text h3 {
    color: #ffffff;
    text-align: center;
    font-size: 150%;
}

#about-section {
    max-width: 90%;
    margin: 20px auto;
}

#about-text {
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;
}

#about-text h2 {
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#about-text p {
    display: block;
    margin-top: 10px;
}

#why-us-reasons {
    width: 90%;
    margin: 20px auto;
}

#why-us-reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#benefits-instructors {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-equipment {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-class {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-safe {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
}

#why-us-section,
    #about-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

/* Media queries */

/* Tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
        font-size: 150%;
    }

    #why-us-section,
    #about-section {
        display: flex;
        flex-direction: row;
    }
    #why-us-section > div {
        align-self: flex-start;
    }

    #about-section > div {
        align-self: flex-end;
    }
}

/* Laptops and larger (992px and up */
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}